<!DOCTYPE html>
<html>
  <head>
    <title>Logbot | #<%= @channel %></title>
    <link rel="stylesheet" type="text/css" href="/assets/screen.css">
    <base target="_blank" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Logbot</h1>
      </div>
      <div class="quick-nav">
        <div class="nav_page-up" onclick="pageScrollTop(0);">⬆</div>
        <div class="nav_page-down" onclick="pageScrollTop($(document).height());">⬇</div>
      </div>
      <div class="body">
        <div class="channel">#<%= @channel %></div>

        <% given_date = Time.parse(@date) %>
        <select id="date-picker" class="date">
          <% if (Time.now - given_date > 86400 * 5) %>
            <option value="<%= @date %>"><%= @date %></option>
          <% end %>
          <optgroup label="Today">
            <option id="today" value="today" <%= "selected" if @date == Date.today.to_s %>><%= Date.today.to_s %></option>
          </optgroup>
          <optgroup label="Earlier logs">
            <% (1.upto 4).map{|d| (Date.today - d).to_s }.each do |date| %>
              <option value="<%= date %>" <%= "selected" if @date == date %>><%= date %></option>
            <% end %>
          </optgroup>
          <optgroup label="Other">
            <option value="other">select..</option>
          </optgroup>
        </select>

        <div class="scroll_switch">AUTO⬇ </div>

        <div>
          <ul class="logs">
            <% @msgs.each.with_index do |m, i| %>
              <li id="<%= i %>">
                <a class="time" href="<%= "#{@date}##{i}" %>" target="_self" title="<%= "##{i}" %>"><%= Time.at(m['time'].to_f).strftime('%T') %></a>
                <a class="nick" href="<%= "#{@date}/#{i}" %>" target="_self" title="<%= user_nick(m) %>"><%= user_nick(m) %></a>
                <span class="msg wordwrap"><%= user_text(m) %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= erb :_footer %>
    </div>
    <div id="other-date-dialog" title="Select date...">
      <p>
        Date: <br/>
        <input type="date" style="max-width:300px;" max="<%= Date.today.to_s %>" id="other-date-picker" size="30" value="<%= @date %>">
      </p>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
    <script>
      var channel = "<%= @channel %>";
      var currentDay = "<%= @date %>";
      var today = "<%= Date.today.to_s %>";
      $( "#date-picker" ).val( currentDay );
    </script>
    <script src="/assets/applications.js?"></script>
    <script src="/assets/md5.min.js"></script>
    <% if @date == Date.today.to_s %>
      <script>pollNewMsg();</script>
    <% end %>
  </body>
</html>
