<!DOCTYPE html>
<html>
  <head>
    <title>Logbot | #<%= @channel %></title>
    <link rel="stylesheet" type="text/css" href="/assets/widget.css">
    <base target="_blank" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Logbot <span class="channel">#<%= @channel %></span></h1>
      </div>
      <div class="body">
        <div>
          <ul class="logs">
            <% @msgs.each.with_index do |m, i| %>
              <% index = @msgs.length - 1 - i %>
              <li id="<%= index %>">
                <a class="time" href="<%= "##{index}" %>" target="_self" title="<%= "##{index}" %>"><%= Time.at(m["time"].to_f).strftime("%T") %></a>
                <span class="nick"><%= user_nick(m) %></span>
                <span class="msg wordwrap"><%= user_text(m) %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= erb :_footer %>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
      var channel = "<%= @channel %>";
    </script>
    <script src="/assets/applications.js?"></script>
    <script>
      pollNewMsg(true);
    </script>
  </body>
</html>
